* {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EEF9BF;
}
main{
    width: 872px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 150px;
}
.timer{
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    color: #7ab08e;
    position: fixed;
    top: 0;
    right: 0;
}
h1{
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    height: 250px;
    position: relative;
}
.card img{
    width: 80%;
}


  .face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  /*.card:hover .back-face {
    transform: rotateY(0deg);
  }*/
  /*.card:hover .front-face {
    transform: rotateY(-180deg);
  }*/

  .front {
    transform: rotateY(-180deg);
  }
  .back {
    transform: rotateY(0deg);
  }



@media screen and (max-width:1023px) {
    main{
        width: 70%;
        margin-top: 45px;
        margin-bottom: 150px;
    }

    h1{
        font-size: 36px;
        line-height: 108%;
    }

}