* {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EEF9BF;
}
main{
    width: 872px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 150px;
}
h1{
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards{
    width: 117px;
    height: 146px;
    background-color: A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}



@media screen and (max-width:1023px) {
    main{
        width: 70%;
        margin-top: 45px;
        margin-bottom: 150px;
    }

    h1{
        font-size: 36px;
        line-height: 108%;
    }

}